html, body {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  color: #555;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  font-family: arial, sans-serif;
}

table {
  color: #555;
  width: 100%;
  margin: 0 auto;
  font-family: arial, sans-serif;
}

table tr td, button, input {
  font-size: 12px;
  user-select: none !important;
}

button {
  transition: 300ms ease all;
}

input:focus {outline: none !important}
button:focus {outline: none !important}
input::-moz-focus-inner {border: 0 !important}
input::-moz-focus-outer {border: 0 !important}
button::-moz-focus-inner {border: 0 !important}
button::-moz-focus-outer {border: 0 !important}

.container {
  width: 100%;
  overflow: hidden;
}

.container > table {
  border-spacing: 0 15px;
}

.main {
  border: 0;
  padding: 0;
  height: 100vw;
  max-width: 350px;
  max-height: 350px;
  border-spacing: 1px;
  table-layout: fixed;
  font-family: monospace;
}

.main tr td {
  margin: 0;
  padding: 0;
  color: #555;
  line-height: 0;
  font-size: 18px;
  empty-cells: show;
  text-align: center;
  border: solid 1px rgba(0,0,0,0.1);
}

.main tr td[type="pop-in"] {animation: popin 0.5s}
.main tr td[mode="pop-out"] {animation: popout 0.5s}

.settings, .keyboard {
  border: 0;
  padding: 0;
  table-layout: fixed;
}

.settings {
  display: none;
  max-width: 350px;
  border-spacing: 0;
}

.settings[toggle='hide'] {display: none}
.settings[toggle='show'] {display: table}

.settings tr td {
  border: 0;
  margin: 0;
  padding: 0;
}

.settings button, .settings input {
  margin: 0;
  padding: 0;
  color: #555;
  height: 36px;
  outline: none;
  font-size: 12px;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-family: monospace;
  width: calc(100% - 2px);
  text-overflow: ellipsis;
  background: rgba(0,0,0,0.05);
  border: solid 1px rgba(0,0,0,0.1);
  transition: 300ms ease background-color;
}

.settings button:hover {
  background: rgba(0,0,0,0.1);
}

.settings input {
  height: 34px;
  text-align: center;
  width: calc(100% - 4px);
}

.keyboard {
  padding: 0;
  max-width: 350px;
  border-spacing: 1px;
}

.keyboard tr td {
  height: 48px;
  text-align: center;
  background-color: rgba(0,0,0,0.4);
}

.keyboard tr td svg {
  fill: #FFFFFF;
  vertical-align: middle;
}

.keyboard tr td, .settings button[id] {
  cursor: pointer;
}

.keyboard tr td {
  border: 0;
  margin: 0;
  padding: 0;
}

.left {text-align: left}
.right {text-align: right}

.color {
  width: 100%;
  max-width: 350px;
  border-spacing: 1px 0;
}

.color tr td {
  height: 26px;
}

.color tr td {
  cursor: pointer;
  border-radius: 0;
}

.toggle {
  padding: 5px 0;
  line-height: 0;
  cursor: pointer;
  text-align: center;
}

.half {
  width: 50%;
}

.half table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0 1px;
}

.half table #hint {
  font-weight: bold;
  font-family: monospace;
}

.pointer {
  cursor: pointer !important;
  background-color: transparent !important;
}

.pointer svg {
  fill: #555 !important;
  vertical-align: middle;
}

.toolbar {
	top: 0;
  right: 0;
	border: 0;
	margin: 0;
	padding: 0;
	z-index: 11;
	display: block;
  position: fixed;
	background-color: transparent;
}

.toolbar div {
	padding: 0;
	width: 32px;
	height: 32px;
	cursor: pointer;
	line-height: 32px;
	text-align: center;
	background-color: transparent;
}

.toolbar div svg {
	fill: #7d7d7d;
	pointer-events: none;
	vertical-align: middle;
}

html[context="webapp"] .toolbar {
  display: none;
}

@keyframes popin {
  0% {opacity: 0; transform: scale(0.5)}
  100% {opacity: 1; transform: scale(1)}
}

@keyframes popout {
  0% {opacity: 0; transform: scale(1.2)}
  100% {opacity: 1; transform: scale(1)}
}

@media (max-width: 350px) {
  body {
    padding: 0 5px;
    width: calc(100% - 10px);
  }
  .container > table {
      border-spacing: 0 5px;
  }
  .toolbar {
    display: none;
  }
}

@media (max-width: 200px) {
  .main tr td {
    font-size: 12px;
  }
  .keyboard tr td {
      height: 36px;
  }
  .settings button, .settings input {
    font-size: 10px;
  }
}
