html, body {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  color: #333;
  display: flex;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-family: system-ui, sans-serif;
}

table {
  color: #333;
  width: 100%;
  margin: 0 auto;
  font-family: system-ui, sans-serif;
}

table tr td, button, input {
  font-size: 13px;
  user-select: none !important;
}

button {
  transition: 300ms ease all;
}

input:focus {outline: none !important}
button:focus {outline: none !important}
input::-moz-focus-inner {border: 0 !important}
input::-moz-focus-outer {border: 0 !important}
button::-moz-focus-inner {border: 0 !important}
button::-moz-focus-outer {border: 0 !important}

.container {
  width: 100%;
  max-width: 400px;
  overflow: hidden;
  border: solid 1px rgba(0, 0, 0, 0.05);
}

.container > table {
  border-spacing: 0 10px;
}

.main {
  border: 0;
  padding: 0;
  height: 100vw;
  max-width: 350px;
  max-height: 350px;
  margin: 10px auto;
  border-spacing: 1px;
  table-layout: fixed;
  font-family: system-ui, sans-serif;
}

.main tr td {
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 0;
  font-size: 28px;
  empty-cells: show;
  text-align: center;
  border: solid 1px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.01);
}

.main tr td[type="pop-in"] {animation: popin 0.5s}
.main tr td[mode="pop-out"] {animation: popout 0.5s}

.settings, .keyboard {
  border: 0;
  padding: 0;
  table-layout: fixed;
}

.settings {
  display: none;
  max-width: 350px;
  border-spacing: 0;
}

.settings[toggle='hide'] {display: none}
.settings[toggle='show'] {display: table}

.settings tr td {
  border: 0;
  margin: 0;
  padding: 0;
  color: #333;
}

.settings button, .settings input {
  margin: 0;
  padding: 0;
  color: #333;
  width: 100%;
  height: 42px;
  outline: none;
  font-size: 13px;
  overflow: hidden;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  box-sizing: border-box;
  text-overflow: ellipsis;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.05);
  font-family: system-ui, sans-serif;
  border: solid 1px rgba(0, 0, 0, 0.1);
  transition: 300ms ease background-color;
}

.settings #score {
  font-size: 15px;
}

.settings button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.settings input {
  width: 100%;
  height: 42px;
  text-align: center;
}

.keyboard {
  padding: 0;
  max-width: 350px;
  margin: 10px auto;
  border-spacing: 1px;
}

.keyboard tr td {
  margin: 0;
  padding: 0;
  height: 48px;
  text-align: center;
  border: solid 1px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.5);
  transition: 300ms ease background-color;
}

.keyboard tr #redo,
.keyboard tr #undo {
  border: 0;
}

.keyboard tr td:hover {
  background-color: rgba(0, 0, 0, 0.55);
}

.keyboard tr #redo:hover,
.keyboard tr #undo:hover {
  background-color: rgb(0 0 0 / 5%) !important;
}

.keyboard tr td svg {
  fill: #fff;
  vertical-align: middle;
}

.keyboard tr td, .settings button[id] {
  cursor: pointer;
}

.left {text-align: left}
.right {text-align: right}

.color {
  width: 100%;
  max-width: 350px;
  border-spacing: 1px 0;
}

.color tr td {
  height: 26px;
}

.color tr td {
  cursor: pointer;
  border-radius: 0;
  transition: 100ms ease all;
}

.color tr td:hover {
  transform: scale(1.5);
}

.toggle {
  line-height: 0;
  padding: 10px 0;
  cursor: pointer;
  text-align: center;
}

.half {
  width: 50%;
}

.half table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 1px;
}

.half table #hint {
  font-weight: bold;
}

.pointer {
  cursor: pointer !important;
  background-color: transparent !important;
}

.toggle svg,
.pointer svg {
  fill: #555 !important;
  vertical-align: middle;
}

.toolbar {
	top: 0;
  right: 0;
	border: 0;
	margin: 0;
	padding: 0;
	z-index: 11;
	display: block;
  position: fixed;
	background-color: transparent;
}

.toolbar div {
	padding: 0;
	width: 42px;
	height: 42px;
	cursor: pointer;
	line-height: 42px;
	text-align: center;
	background-color: transparent;
  transition: 300ms ease background-color;
}

.toolbar div:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.toolbar div svg {
	fill: #555;
	pointer-events: none;
	vertical-align: middle;
}

@keyframes popin {
  0% {opacity: 0; transform: scale(0.5)}
  100% {opacity: 1; transform: scale(1)}
}

@keyframes popout {
  0% {opacity: 0; transform: scale(1.2)}
  100% {opacity: 1; transform: scale(1)}
}

@media (max-width: 450px) {
  .toolbar {
    display: none;
  }
}

@media (max-width: 300px) {
  .main tr td {
    font-size: 13px;
  }
  .keyboard tr td {
      height: 32px;
  }
  .settings button, .settings input {
    font-size: 10px;
  }
}

html[context="webapp"] .toolbar #reload,
html[context="webapp"] .toolbar #support,
html[context="webapp"] .toolbar #donation {
  display: none;
}

html[theme='dark'], 
html[theme='dark'] body {
  color: #ebebeb;
  color-scheme: dark;
  background-color: #1e1e1e;
}

html[theme='dark'] .main tr td {
  background-color: rgb(255 255 255 / 5%);
}

html[theme='dark'] .toolbar div:hover {
  background-color: rgb(255 255 255 / 5%);
}

html[theme='dark'] .keyboard tr td {
  background-color: rgb(0 0 0 / 25%);
}

html[theme='dark'] .keyboard tr td:hover {
  background-color: rgb(0 0 0 / 20%);
}

html[theme='dark'] .keyboard tr #redo:hover,
html[theme='dark'] .keyboard tr #undo:hover {
  background-color: rgb(255 255 255 / 5%) !important;
}

html[theme='dark'] .settings input,
html[theme='dark'] .settings button {
  background-color: rgb(255 255 255 / 5%);
}

html[theme='dark'] .settings input,
html[theme='dark'] .settings tr td,
html[theme='dark'] .settings button {
  color: #ebebeb;
}

html[theme='dark'] .container,
html[theme='dark'] .main tr td,
html[theme='dark'] .keyboard tr td,
html[theme='dark'] .settings input,
html[theme='dark'] .settings button {
  border-color: rgb(255 255 255 / 15%);
}

html[theme='dark'] .toggle svg,
html[theme='dark'] .pointer svg,
html[theme='dark'] .toolbar div svg {
  fill: #ebebeb !important;
}
